<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-2" align="center">
      <h1>To calculate armstrong numbers login at first</h1>
      <%= bootstrap_form_for(:session, url: sessions_create_path) do |f| %>
        <% if flash[:danger] %>
          <%= f.text_field :nickname, label: 'Nickname', class: 'is-invalid' %>
          <%= f.password_field :password, label: 'Password', class: 'is-invalid' %>
          <%= f.label flash[:danger], class: 'text-danger' %><br/>
        <% else %>
          <%= f.text_field :nickname, label: 'Nickname' %>
          <%= f.password_field :password, label: 'Password' %>
        <% end %>
        <%= f.primary 'Sign in', control_class: "btn btn-outline-success" %>
      <% end %>
    </div>
    <div class="col-md-3" align="center">
      <img src="/lama.png" style="height: 250px">
      <%= bootstrap_form_tag url: new_user_path, method: 'post' do |f| %>
        <%= f.label 'New user? Sign up now!' %><br>
        <%= f.primary 'Sign up' %>
      <% end %>
    </div>
  </div>
</div>
