<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" align="center">
      <h1>Editing User</h1>
      <%= bootstrap_form_for :user, url: '/users/update',  method: 'put', local: true do |f| %>
        <% if flash[:danger] %>
          <%= f.text_field :nickname, label: 'New nickname', class: 'is-invalid' %>
          <%= f.password_field :password, label: 'New password', class: 'is-invalid' %>
        <% else %>
          <%= f.text_field :nickname, label: 'New nickname' %>
          <%= f.password_field :password, label: 'New password' %>
        <% end %>
        <%= f.primary 'Update user', control_class: "btn btn-outline-success" %>
      <% end %>
      <br/>
    </div>
  </div>
</div>