<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" align="center">
      <table class="table table-bordered table-hover bg-white">
        <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nickname</th>
          <% if @_current_user.admin %>
            <th>For real admin</th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @users.each_with_index do |user, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td>
              <%= user.nickname %>
              <% if user.nickname == @_current_user.nickname %>
                <span class="text-muted">(It's you!)</span>
              <% end %>
            </td>
            <% if @_current_user.admin %>
              <td>
                  <%= link_to 'Destroy', user,
                              method: :delete,
                              data: { confirm: 'Are you sure?' },
                              class: 'btn btn-danger',
                              role: 'button' %>
              </td>
            <% end %>
            <!--td><%= link_to 'Show', user %></td-->
            <!--td><%= link_to 'Edit', edit_user_path(user) %></td-->
            <!--td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>