<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" align="center">
      <h1>Create new user</h1>
      <%= bootstrap_form_for :user, url: '/users/create',local: true do |f| %>
        <% if flash[:danger] %>
          <%= f.text_field :nickname, label: 'Nickname', class: 'is-invalid' %>
          <%= f.password_field :password, label: 'Password', class: 'is-invalid' %>
        <% else %>
          <%= f.text_field :nickname, label: 'Nickname' %>
          <%= f.password_field :password, label: 'Password' %>
        <% end %>
        <%= f.primary 'Create user', control_class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</div>
