<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" align="center">
      <h2>
        <strong>Nickname:</strong>
        <%= @user.nickname %>
      </h2>
      <a class="btn btn-primary" href="<%= _back_url %>" role="button">Back</a>
      <a class="btn btn-primary" href="<%= edit_user_path(@user) %>" role="button">Edit</a>
    </div>
  </div>
</div>