<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand/logo -->
    <%= content_tag :a, 'Armstrong', class: 'navbar-brand', href: root_path %>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= content_tag :a, 'Calculate', class: 'nav-link', href: armstrong_path %>
      </li>
      <li class="nav-item">
        <%= content_tag :a, 'Users', class: 'nav-link', href: users_path %>
      </li>
    </ul>
    <!--form class="form-inline"-->

      <% unless @_current_user %>
        <a role="button" class="btn btn-light" href="<%= sessions_new_path %>">Log In</a>
      <% else %>
        <span class="nickname-hello">Your are</span>
        <span class="nickname"><%= @_current_user.nickname %></span>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a role="button" class="btn btn-light" href="<%= users_show_path %>">My account</a>
          <a role="button" class="btn btn-light" href="<%= sessions_destroy_path %>">Log Out</a>
        </div>
    <% end %>
    <!--/form-->
  </nav>
</header>